main {
  font-family: 'Lora', serif;
  width: 750px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}
header {
  color: gray;
  font-size: 20px;
  padding: 10px 0;
}
button {
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 15px 40px;
  background-color: #337FED;
  border: solid #337FED 1px;
  margin: 20px;
  cursor: pointer;
}
button:hover {
  background: #1E62D0;
}
.tweet {
  text-decoration: none;
  color: #337FED;
  font-size: 30px;
}
.tweet p {
  font-size: 20px;
  display: inline;
}
